{% extends 'base.html' %}

{% block title %}Список рейсов{% endblock %}

{% block content %}
<h1 class="mb-4">Список рейсов</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Вид транспорта</th>
            <th>Дата отправления</th>
            <th>Пункт назначения</th>
            <th>Свободных мест</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ route.transport_type }}</td>
            <td>{{ route.departure_date }}</td>
            <td>{{ route.destination }}</td>
            <td>{{ route.available_seats }}</td>
            <td>
                <a href="{% url 'purchase_ticket' route.id %}" class="btn btn-primary btn-sm">Купить билет</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}