{% extends 'base.html' %}

{% block title %}Список рейсов{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center text-primary">
        <i class="bi bi-airplane"></i> Оформить билет
    </h1>

    <!-- Форма для фильтров -->
    <form method="GET" class="mb-4">
        <div class="row g-3">
            <div class="col-md-3">
                <label for="departure_date" class="form-label"><i class="bi bi-calendar3"></i> Дата отправления</label>
                <input type="date" name="departure_date" id="departure_date" class="form-control" value="{{ request.GET.departure_date }}">
            </div>
            <div class="col-md-3">
                <label for="destination" class="form-label"><i class="bi bi-geo-alt"></i> Пункт назначения</label>
                <input type="text" name="destination" id="destination" class="form-control" value="{{ request.GET.destination }}">
            </div>
            <div class="col-md-3">
                <label for="transport_type" class="form-label"><i class="bi bi-truck"></i> Вид транспорта</label>
                <select name="transport_type" id="transport_type" class="form-select">
                    <option value="">Все</option>
                    {% for type in transport_types %}
                        <option value="{{ type.id }}" {% if request.GET.transport_type == type.id|stringformat:"s" %}selected{% endif %}>
                            {{ type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="bi bi-funnel"></i> Применить фильтры
            </button>
            <a href="{% url 'route_list' %}" class="btn btn-outline-secondary">
                <i class="bi bi-x-circle"></i> Сбросить фильтры
            </a>
        </div>
    </form>

    <!-- Список рейсов -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% if not routes %}
        <div class="alert alert-danger text-center mx-auto" role="alert">
            <i class="bi bi-exclamation-triangle-fill "></i> Рейсов по вашим запросов на данный момент не существует
        </div>
    {% endif %}
        {% for route in routes %}
            <div class="col">
                <div class="card shadow-sm h-100 bg-light border-primary">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-primary">
                            <i class="bi bi-truck"></i> {{ route.transport_type.name }}
                        </h5>
                        <ul class="list-unstyled">
                            <li><strong><i class="bi bi-arrow-right-circle"></i> Отправление:</strong> {{ route.departure_location }}</li>
                            <li><strong><i class="bi bi-arrow-left-circle"></i> Назначение:</strong> {{ route.destination }}</li>
                            <li>
                                <strong><i class="bi bi-calendar3"></i> Дата:</strong>
                                {{ route.departure_date }} {{ route.departure_time }} -
                                {{ route.arrival_date }} {{ route.arrival_time }}
                            </li>
                            <li><strong><i class="bi bi-person-check"></i> Места:</strong> {{ route.available_seats }}</li>
                            <li><strong><i class="bi bi-currency-ruble"></i> Цена:</strong> {{ route.price }} руб.</li>
                        </ul>
                    </div>
                    <div class="card-footer text-center bg-light">
                        <a href="{% url 'purchase_ticket' route.id %}" class="btn btn-primary w-100">
                            <i class="bi bi-ticket-perforated"></i> Купить билет
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}