{% extends 'base.html' %}

{% block title %}Успешная покупка{% endblock %}

{% block content %}
<h1 class="mb-4">Успешная покупка!</h1>
<div class="alert alert-success" role="alert">
    Ваш билет успешно оформлен. Спасибо за покупку!
</div>

<div class="card-body">
        <h5 class="card-title">Рейс: {{ route.transport_type }} — {{ route.destination }}</h5>
        <p class="card-text">Дата отправления: {{ route.departure_date }} {{ route.departure_time}}</p>
        <p class="card-text">Дата прибытия: {{ route.arrival_date}} {{ route.arrival_time }}</p>

        <p class="card-text">Покупатель: {{ticket.client}}</p>
    </div>
<a href="/api/routes/" class="btn btn-primary">Вернуться к списку рейсов</a>
{% endblock %}